/*.............Navigation-top..............*/

.navigation-top{
	// border: 1px solid red;
	display: flex;
	flex-direction: column;
	align-items: center;
	// padding-top: 15px;
	// padding-bottom: 13px;

	@media (min-width: 700px){
		flex-direction: row;
		padding-top: 15px;
		padding-bottom: 13px;
	}
}

.navigation-top-logo{
	width: 100%;
	// border: 1px solid blue;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	// padding-left: 48px;

	@media (min-width: 700px){
		width: 30%;
		justify-content: flex-start;
		padding-top: 15px;
		padding-left: 48px;
	}
}

.logo-link{
	text-decoration: none;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'montserrat', sans-serif;
	font-weight: 800;
	font-size: 36px;
	line-height: 1;
	color: @main-text;
}

.top-logo-svg{
	width: 56px;
	height: 43px;
	fill: @main-red;
	margin-right: 9px;
	margin-bottom: 13px;
}

.logo-red-text{
	color: @main-red;
}

.navigation-top-menu{
	width: 100%;
	// border: 1px solid blue;
	display: flex;
	justify-content: space-around;
	// flex-direction: column;
	align-items: center;
	padding-top: 10px;
	// padding-left: 30px;

	@media (min-width: 700px){
		width: 35%;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding-top: 11px;
		padding-left: 30px;
	}
}

.navigation-top-menu-link{
	text-decoration: none;
	font-family: 'montserrat', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1;
	color: @main-red;
	margin-bottom: 10px;

	@media (min-width: 700px){
		font-size: 16px;
		margin-bottom: 0;
		margin-right: 43px;
		color: @main-text;
	}
}

.navigation-top-login{
	width: 100%;
	// border: 1px solid blue;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	// padding-left: 45px;

	@media (min-width: 700px){
		width: 35%;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding-top: 11px;
		padding-left: 45px;
	}
}

.navigation-top-login-log-in{
	text-decoration: none;
	display: inline-block;
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	color: @main-text;
	margin-bottom: 15px;
	position: relative;

	&:after{
		content: "";
		display: block;
		width: 50px;
		border-bottom: 1px dashed @main-text;
		position: absolute;
		top: 20px;
		left: 2px;
	}

	@media (min-width: 700px){
		margin-right: 41px;
		margin-bottom: 0;
	}
}

.navigation-top-login-registration{
	width: 196px;
	height: 56px;
	text-decoration: none;
	display: inline-block;
	font-family: 'montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1;
	text-align: center;
	color: @main-text;
	border: 1px solid @main-text;
	border-radius: 50px;
	padding-top: 20px;
}


